@import 'variables.scss';


.lyrics__title {
    padding-top: 1em;
    font-weight: $commonFontWeight * 2;
    font-size: 5em;
    text-align: center;
}

.lyrics__subtitle {
    font-weight: $commonFontWeight / 2;
    text-align: center;
}

.table {


    .nav-link--lyrics {

        color: $rgbWhite;
        font-size: 1.5em;
        font-weight: $commonFontWeight;
    }
}

.lyrics__container {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;



    .tab-content--lyrics {
        width: 100%;
        padding-right: 20px;


        .container__item {
            text-align: justify;
            animation: fadeInLeft 1 1s;

            .container__cita {
                text-align: center;
                font-style: italic;
            }

            .item__card {
                background-color: var(--bs-primary);
                //background-color: #074C78; (posible color secundario)
                width: fit-content;
                text-align: center;
                padding: 0.5em 1em;
                border-radius: 0.5em;
                border: solid 2px #000000;
                box-shadow: $boxshadow;
            }

            img {
                width: 241px;
                height: auto;
                float: left;
                margin-right: 1em;
                padding-top: 0.5em;
            }
        }

        .container__video {
            max-width: 100%;
            margin-bottom: 5em;
            animation: fadeInUp 1 1s;

            iframe {
                width: 100%;
                height: 400px;
            }
        }

    }



    .container__autorxs {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 940px;
        padding-left: 20px;



        .container__card {

            box-shadow: $boxshadow;
            //No me toma el cursor pointer
            cursor: pointer;
            animation: slideInRight 1 1s;

            img {
                height: 400px;
                width: 286px;
                object-fit: cover;
                object-position: 0% 20%;

            }

            .card__text {
                // no me funcionan las variables
                background-color: var(--bs-secondary);
            }
        }
    }

}



@media only screen and (min-width: 1350px) {


    .lyrics__container {
        padding: 3em 15vw;
    }


}

@media only screen and (min-width: 768px) {


    .lyrics__container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .container__autorxs {
        display: flex;
        flex-direction: column;
        margin-right: 10vw;
    }
}