@import 'variables.scss';


.lyrics__title {
    padding: 1em 0.5em 0 0.5em;
    font-weight: $commonFontWeight * 2;
    font-size: 5em;
    text-align: center;
}

.lyrics__subtitle {
    font-weight: $commonFontWeight / 2;
    text-align: center;
    margin: 0 1em;
}

.table {

    .nav-link--lyrics {

        color: $rgbWhite;
        font-size: 1.5em;
        font-weight: $commonFontWeight;
    }
}

.lyrics__container {
    padding: 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;



    .tab-content--lyrics {
        width: 100%;
        padding-right: 20px;
    }
}

.container__item {
    animation: fadeInLeft 1 1s;

    p {
        text-align: justify;
    }

    .container__firma {
        text-indent: 0;
        font-style: italic;
        opacity: 0.7;
    }

    .container__pieImagen {
        text-indent: 0;
        font-size: 0.8em;
        font-style: italic;
    }

    .container__cita {
        text-align: center;
        font-style: italic;
    }

    .container__cita--poema {
        line-height: 2;
    }

    .item__card {
        background-color: var(--bs-primary);
        //background-color: #074C78; (posible color secundario)
        width: fit-content;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        border: solid 2px #000000;
        box-shadow: $boxshadow;
    }

    .container__img {
        width: 241px;
        height: auto;
        float: left;
        margin-right: 1em;
        padding-top: 0.5em;
    }

    .container__bigImg {
        width: 100%;
        height: auto;
    }
}

.container__item--parrafo {
    text-indent: 40px;
}

.container__video {
    max-width: 100%;
    margin-bottom: 5em;
    animation: fadeInUp 1 1s;

    iframe {
        width: 100%;
        height: 400px;
    }
}


.container__autorxs {

    display: flex;
    flex-direction: column;
    height: 940px;
    padding-left: 20px;
    animation: slideInRight 1 1s;

    .container__card {

        box-shadow: $boxshadow;
        //No me toma el cursor pointer
        cursor: pointer;
        margin-bottom: 1em;

        img {
            height: 400px;
            width: 286px;
            object-fit: cover;
            object-position: 0% 20%;
        }

        .card__text {
            // no me funcionan las variables
            background-color: var(--bs-secondary);
        }
    }
}

.container__social {
    display: none;
    flex-direction: column;

    .container__shareIcon {
        color: var(--bs-secondary);
        font-size: 2em;
        padding: 0.3em;
        margin-bottom: 0.3em;
        background-color: $rgbWhite;
        border-radius: 1em;
    }
}

.container__social--mobile {
    display: flex;
    flex-direction: row;
    text-indent: 0;

    .container__shareIcon {

        padding: 0.3em;
        margin-right: 0.3em;

    }
}





@media only screen and (min-width: 1350px) {


    .lyrics__container {
        padding: 3em 15vw;
    }


}

@media only screen and (min-width: 768px) {


    .lyrics__container {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

    .container__autorxs {
        display: flex;
        flex-direction: column;
        margin-right: 10vw;
        margin-left: 5vw;
    }

    .container__social {
        display: flex;
    }

    .container__social--mobile {
        display: none;
    }
}