:root {
    --bs-primary: #781313;
    --bs-secondary: #1c1c1c;
    --bs-primary-rgb: 104, 17, 17;
    --bs-secondary-rgb: 28, 28, 28;
}

$commonPadding: 0 2em;
$iconColor: black;
$iconSize: 30pt;
$iconsRedes: ("Facebook": #4267B2, "Instagram": #8935c1, "Spotify": #1DB954, "Twitter": #1DA1F2);
$commonFontWeight: 400;
$rgbWhite: rgba(255, 255, 255, 1);
$boxshadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),
0 6px 20px 0 rgba(0, 0, 0, 0.5);