@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import './variables';
@import './canciones';
@import './error404';
@import './store';
@import './storeItem';



body {
    margin: 0;
    padding: 0;
    width: 98vw;
    height: 100vh;
    background-color: var(--bs-secondary);
    color: $rgbWhite;
    font-family: "Roboto Condensed", sans-serif;
}


.navbar-expand-md--rojoT {
    position: fixed;
    z-index: 150;
    background-color: var(--bs-primary);
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;


    .navbar__logoT {

        text-decoration: none;
        text-align: left;
        color: $rgbWhite;
        font-weight: $commonFontWeight * 2;
        font-size: 2em;
        padding: 0;

        flex-grow: 1;
        animation: logoAnimado 1 3s 1s;

    }

    .navbar__logoT--tienda {
        margin: 0 0.5em;

        i {
            margin: 0;
            padding: 0;
        }
    }

    .navbar__link {
        font-size: 1.2em;
        font-weight: $commonFontWeight / 2;
        color: $rgbWhite !important;


        &:hover {
            font-weight: $commonFontWeight;
        }
    }

    .navbar__busqueda {

        max-width: 300px;
        margin-right: 1em;
    }

}

.conMargen {
    margin: $commonMargin;

    h2 {
        margin-top: 2em;
    }
}

.navBread {
    padding-top: 100px;
    margin: $commonMargin;
}

//Seccion de intereses de todas las páginas

.interesesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;

    .interesesContainer__card {

        width: 280px;
        background-color: var(--bs-primary);
        flex-shrink: 1;
        display: flex;
        flex-direction: column;
        border-radius: 0.5em;
        overflow: hidden;
        margin-right: 0.5em;
        box-shadow: $boxshadow;
        color: $rgbWhite;
        text-decoration: none;
        margin-bottom: 2em;


        img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: 0 0;
        }

        .interesesContainer__text {
            margin: 0.5em 1em;

            .interesesContainer__title {
                font-size: 1em;
                font-weight: $commonFontWeight * 2;
            }

            p {
                margin: 0;
            }

            .viejoPrecio {
                @include tachado;
            }
        }
    }
}

.grilla {
    width: 98vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.3fr 1fr 1fr auto auto auto;
    grid-row-gap: 3em;
    grid-column-gap: 1em;
    justify-items: stretch;
    grid-template-areas:
        "header"
        "biografias"
        "noticiaG"
        "noticiasC"
        "canciones"
        "footer";
}

header {
    width: 100vw;

    position: relative;
    overflow: hidden;
    grid-area: header;

    .header__title {
        position: absolute;
        left: 0.4em;
        bottom: 0em;
        text-decoration: none;
        color: white;
        font-weight: $commonFontWeight * 2;
        font-size: 5em;
        z-index: 1;

        p {
            display: inline-block;
        }

        @for $i from 1 through 9 {
            .p#{$i} {
                color: rgba(255, 255, 255, 1/$i);

            }
        }
    }


    .header__video {
        position: absolute;
        left: -5em;
        height: 100%;
        align-content: center;
        min-height: 100px;
    }


}

.seccionesMain {

    font-size: 2.5em;
    font-weight: $commonFontWeight * 2;
    text-transform: uppercase;
    border-bottom: white solid 1px;
}

.subtitulo {
    padding: 0.5em 2em;
}


#containerBiografias {


    grid-area: biografias;

    h2 {
        margin-left: 1em;
    }

    .containerBiografias__containerCarousel {
        width: 100vw;
        display: flex;
        justify-content: center;

        .containerBiografias__containerItem {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            flex-shrink: 1;
            position: relative;

            .containerBiografias__imgBio {
                width: 100%;
                height: 100%;

                &:hover {
                    opacity: 0.4;
                    border: outset 2px white;
                    cursor: pointer;
                }

                &:active {
                    animation: flipOutY 1 1s;
                }
            }

            .containerBiografias__texto {
                position: absolute;
                text-align: center;
                left: 0em;
                top: 0em;
                right: 0;
                padding: 0;
                margin: 0;
                font-weight: $commonFontWeight;
                font-size: 1em;
                background-color: #1c1c1cb0;


            }
        }
    }

    .containerBiografias__icono {
        font-size: 30pt;
        opacity: 0.8;
        height: 100%;
        width: 40pt;
        margin-left: 25pt;
        margin-right: 25pt;


    }

}


.icono {
    font-size: $iconSize;
    color: $iconColor;

    //como calcular que siempre esté en el medio de la imagen

}



.containerNoticiaG {
    font-size: 1em;
    padding: $commonPadding;
    grid-area: noticiaG;



    a {
        @include link;

        img {
            width: 100%;
            padding-bottom: 1em;
        }
    }
}



.containerNoticiaC {
    height: 100%;
    padding: $commonPadding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    grid-area: noticiasC;


    //por qué la imagen determina el tamaño de las palabraS?
    .containerNoticiaC__item {
        width: 100%;
        @include link;

        img {
            width: 100%;
        }
    }
}

.containerCanciones {
    margin-top: 2em;
    padding: $commonPadding;
    grid-area: canciones;

}

footer {
    background-color: var(--bs-primary);
    padding: 1em 2em;
    font-size: 0.8em;
    grid-area: footer;
    width: 100vw;

    p {
        margin: 0;
    }

    .footer__containerRedes {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 5em;

        .footer__icono {
            font-size: $iconSize;
            margin: 0 0.15em;

        }

        @each $name,
        $colors in $iconsRedes {
            .footer__icono#{$name} {
                color: $colors;
            }

        }
    }

}







// Estilo de biografía

.modal__header--bio {
    display: flex;
    flex-direction: column;


    .modal__x {
        display: flex;
        align-items: flex-end;
        width: 100%;
    }

    .modal__img {
        width: 100%;
        display: block;
        margin-top: 0.5em;


        img {
            width: 100%;
            border-radius: 0.5em;
        }
    }
}

.modal__texto {
    color: var(--bs-secondary);
}



// Media Queries
@media only screen and (min-width: 768px) {

    .navbar__logoT--tienda {
        margin: 0 3em;
    }

    .navbar__busqueda {
        width: 25vw;
        margin-right: 1em;
    }

    .interesesContainer {

        flex-direction: row;

    }

    .grilla {
        grid-template-columns: 65% 35%;
        grid-template-rows: 0.6fr 1fr auto auto auto;
        grid-template-areas:
            "header header"
            "biografias biografias"
            "noticiaG noticiasC"
            "canciones canciones"
            "footer footer";
    }

    header {

        h1 {
            bottom: 0.5em;
        }
    }


    .containerBiografias__texto {

        font-weight: $commonFontWeight * 2 !important;
        font-size: 1.5em !important;
        z-index: -1;
        text-align: right !important;

        transform: rotate(-90deg);
        transform-origin: 100% 100%;
        right: -1em;
        top: 0;



    }


    .containerNoticiaG {
        padding: 0 0 0 2em;
    }

    .containerNoticiaC {
        padding: 0 2em 0 0;

    }

    @each $name,
    $colors in $iconsRedes {
        .footer__icono#{$name} {
            color: $iconColor !important;
        }

    }

    @each $name,
    $colors in $iconsRedes {
        .footer__icono#{$name}:hover {
            color: $colors !important;
        }

    }

}

@media only screen and (min-width: 1350px) {

    .conMargen {
        margin: 0 250px;
    }

    .navbar__logoT {
        text-align: left;
        margin-left: 3em;
    }



    .navbar__link {
        margin-right: 1em;
    }

}


@keyframes logoAnimado {

    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(0.85);
    }

    66% {
        transform: scale(1.15);
    }
}