@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
:root {
  --bs-primary: #781313;
  --bs-secondary: #1c1c1c;
  --bs-primary-rgb: 104, 17, 17;
  --bs-secondary-rgb: 28, 28, 28;
  --bs-title: #0C7EC4;
  --bs-title-rgb: 12, 126, 196; }

:root {
  --bs-primary: #781313;
  --bs-secondary: #1c1c1c;
  --bs-primary-rgb: 104, 17, 17;
  --bs-secondary-rgb: 28, 28, 28;
  --bs-title: #0C7EC4;
  --bs-title-rgb: 12, 126, 196; }

.lyrics__title {
  padding: 0em 0.5em;
  font-weight: 800;
  font-size: 5em;
  text-align: center; }

.lyrics__subtitle {
  font-weight: 200;
  text-align: center;
  margin: 0 1em; }

.table .nav-link--lyrics {
  color: white;
  font-size: 1.5em;
  font-weight: 400; }

.lyrics__container {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .lyrics__container .tab-content--lyrics {
    width: 100%;
    padding-right: 20px; }

.container__item {
  animation: fadeInLeft 1 1s; }
  .container__item p {
    text-align: justify; }
  .container__item .container__firma {
    text-indent: 0;
    font-style: italic;
    opacity: 0.7; }
  .container__item .container__pieImagen {
    text-indent: 0;
    font-size: 0.8em;
    font-style: italic; }
  .container__item .container__cita {
    text-align: center;
    font-style: italic; }
  .container__item .container__cita--poema {
    line-height: 2; }
  .container__item .item__card {
    background-color: var(--bs-primary);
    width: fit-content;
    text-align: center;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: solid 2px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); }
  .container__item .container__img {
    width: 241px;
    height: auto;
    float: left;
    margin-right: 1em;
    padding-top: 0.5em; }
  .container__item .container__bigImg {
    width: 100%;
    height: auto; }

.container__item--parrafo {
  text-indent: 40px; }

.container__video {
  max-width: 100%;
  margin-bottom: 5em;
  animation: fadeInUp 1 1s; }
  .container__video iframe {
    width: 100%;
    height: 400px; }

.container__autorxs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;
  animation: slideInRight 1 1s; }
  .container__autorxs .container__card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin-bottom: 1em; }
    .container__autorxs .container__card img {
      height: 400px;
      width: 286px;
      object-fit: cover;
      object-position: 0% 20%; }
    .container__autorxs .container__card .card__text {
      background-color: var(--bs-secondary); }

.container__social {
  display: none;
  flex-direction: column; }
  .container__social .container__shareIcon {
    color: var(--bs-secondary);
    font-size: 2em;
    padding: 0.3em;
    margin-bottom: 0.3em;
    background-color: white;
    border-radius: 1em; }

.container__social--mobile {
  display: flex;
  flex-direction: row;
  text-indent: 0; }
  .container__social--mobile .container__shareIcon {
    padding: 0.3em;
    margin-right: 0.3em; }

@media only screen and (min-width: 1350px) {
  .lyrics__container {
    padding: 3em 15vw; } }

@media only screen and (min-width: 768px) {
  .lyrics__container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }
  .container__autorxs {
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 5vw; }
  .container__social {
    display: flex; }
  .container__social--mobile {
    display: none; } }

:root {
  --bs-primary: #781313;
  --bs-secondary: #1c1c1c;
  --bs-primary-rgb: 104, 17, 17;
  --bs-secondary-rgb: 28, 28, 28;
  --bs-title: #0C7EC4;
  --bs-title-rgb: 12, 126, 196; }

.containerError {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .containerError .containerError__title {
    font-size: 8em;
    font-weight: 800; }
  .containerError .containerError__button {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: white; }

:root {
  --bs-primary: #781313;
  --bs-secondary: #1c1c1c;
  --bs-primary-rgb: 104, 17, 17;
  --bs-secondary-rgb: 28, 28, 28;
  --bs-title: #0C7EC4;
  --bs-title-rgb: 12, 126, 196; }

.navbar-expand-md--rojoT--store {
  flex-direction: row;
  flex-wrap: nowrap; }
  .navbar-expand-md--rojoT--store .navbar__logoT--store {
    font-size: 10px; }
  .navbar-expand-md--rojoT--store .navbarStore__busqueda {
    width: 100%;
    flex-shrink: 1; }
  .navbar-expand-md--rojoT--store i {
    margin: 0 1.5em 0 1em;
    font-size: 1.5em;
    color: white; }

.containerStore {
  display: flex;
  margin: 0 2em; }
  .containerStore .containerStore__filtros {
    width: 300px;
    margin-right: 1em; }
    .containerStore .containerStore__filtros .containerStore__subtitle {
      color: white;
      padding: 0.5em;
      border-radius: 0.5em;
      background-color: var(--bs-primary);
      margin-bottom: 0.5em;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.3); }
      .containerStore .containerStore__filtros .containerStore__subtitle h2 {
        font-size: 2em;
        font-weight: 400; }
      .containerStore .containerStore__filtros .containerStore__subtitle p {
        margin-bottom: 0;
        font-weight: 200; }
    .containerStore .containerStore__filtros ul {
      list-style: none;
      padding: 0; }
      .containerStore .containerStore__filtros ul li {
        margin-bottom: 0.1em;
        padding-left: 0.5em;
        font-weight: 200;
        cursor: pointer;
        text-decoration: none;
        color: white; }
        .containerStore .containerStore__filtros ul li:hover {
          color: rgba(255, 255, 255, 0.65); }
  .containerStore .containerStore__containerProductos {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .containerStore .containerStore__containerProductos .containerStore__item {
      height: 200px;
      background-color: white;
      display: flex;
      border-radius: 0.5em;
      margin-bottom: 0.5em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5); }
      .containerStore .containerStore__containerProductos .containerStore__item img {
        height: 100%;
        width: 200px;
        object-fit: cover;
        border-radius: 0.5em 0 0 0.5em;
        object-position: 0 0; }
        .containerStore .containerStore__containerProductos .containerStore__item img:hover {
          animation: desplazamientoImagen 1 1s;
          object-position: 0 50%; }
      .containerStore .containerStore__containerProductos .containerStore__item .containerStore__text {
        padding: 0.5em 0.8em 0 0.8em;
        width: 100%;
        display: flex;
        flex-direction: column;
        color: var(--bs-secondary); }
        .containerStore .containerStore__containerProductos .containerStore__item .containerStore__text .containerStore__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 0.7em;
          margin-top: 0.1em;
          padding-bottom: 0.5em;
          border-bottom: 1px solid var(--bs-secondary); }
          .containerStore .containerStore__containerProductos .containerStore__item .containerStore__text .containerStore__header a {
            text-decoration: none;
            color: var(--bs-secondary); }
            .containerStore .containerStore__containerProductos .containerStore__item .containerStore__text .containerStore__header a h2 {
              font-size: 1.4em;
              font-weight: 800;
              margin: 0; }
          .containerStore .containerStore__containerProductos .containerStore__item .containerStore__text .containerStore__header i {
            font-size: 1.4em; }
      .containerStore .containerStore__containerProductos .containerStore__item .containerStore__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between; }
        .containerStore .containerStore__containerProductos .containerStore__item .containerStore__body p {
          font-weight: 800;
          margin: 0; }
        .containerStore .containerStore__containerProductos .containerStore__item .containerStore__body .containerStore__precioAnterior {
          text-decoration: line-through;
          color: gray; }
        .containerStore .containerStore__containerProductos .containerStore__item .containerStore__body .containerStore__precio {
          font-size: 2em;
          font-weight: 200; }
        .containerStore .containerStore__containerProductos .containerStore__item .containerStore__body .containerStore__descuento {
          text-align: center;
          color: white;
          margin-right: 1em;
          font-size: 2em;
          background-color: var(--bs-primary);
          padding: 0.5em;
          border-radius: 50%;
          transform: rotate(20deg); }
    .containerStore .containerStore__containerProductos .containerStore__navigation {
      margin: 2em 0; }
      .containerStore .containerStore__containerProductos .containerStore__navigation .containerStore__navigationLink {
        font-weight: 800;
        color: var(--bs-secondary); }

@media only screen and (min-width: 1350px) {
  .navbar-expand-md--rojoT--store {
    padding: 0.5em 10em; }
  .containerStore {
    margin: 0 10em; } }

@keyframes desplazamientoImagen {
  0% {
    object-position: 0 0%; }
  100% {
    object-position: 0 50%; } }

:root {
  --bs-primary: #781313;
  --bs-secondary: #1c1c1c;
  --bs-primary-rgb: 104, 17, 17;
  --bs-secondary-rgb: 28, 28, 28;
  --bs-title: #0C7EC4;
  --bs-title-rgb: 12, 126, 196; }

.containerStoreItem {
  display: flex;
  flex-flow: row;
  align-items: flex-start; }
  .containerStoreItem img {
    width: 50vw;
    max-height: 80vh;
    object-fit: contain;
    animation: fadeInLeft 1 1s; }
  .containerStoreItem aside {
    width: 300px;
    margin-left: 2em;
    padding: 1.5em;
    padding-top: 1em;
    background-color: white;
    color: var(--bs-secondary);
    border-radius: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    animation: fadeInRight 1 1s; }
    .containerStoreItem aside .containerStoreItem__tag {
      color: black;
      font-weight: 800;
      font-size: 1.3em; }
    .containerStoreItem aside .containerStoreItem__precio {
      display: flex;
      align-items: center; }
      .containerStoreItem aside .containerStoreItem__precio .containerStoreItem__viejoPrecio {
        text-decoration: line-through;
        color: gray;
        margin: 0; }
      .containerStoreItem aside .containerStoreItem__precio .containerStoreItem__nuevoPrecio {
        color: var(--bs-primary);
        font-weight: 800;
        font-size: 3em;
        margin: 0 0 0 0.5em; }
    .containerStoreItem aside a {
      color: black;
      margin-left: 0.5em; }

.containerDescripcion h3 {
  margin-top: 0.5em; }

.containerDescripcion table {
  margin: 2em 0;
  border-collapse: separate;
  border-spacing: 200px 2px; }
  .containerDescripcion table th {
    width: 150px;
    background-color: var(--bs-primary);
    padding-left: 1em; }

.containerDescripcion p {
  text-align: justify; }

.formStore {
  display: flex;
  flex-direction: column;
  width: 300px; }
  .formStore input {
    margin-top: 0.5em; }
  .formStore textarea {
    height: 200px;
    margin-top: 0.5em; }

body {
  margin: 0;
  padding: 0;
  width: 98vw;
  height: 100vh;
  background-color: var(--bs-secondary);
  color: white;
  font-family: "Roboto Condensed", sans-serif; }

.navbar-expand-md--rojoT {
  position: fixed;
  z-index: 150;
  background-color: var(--bs-primary);
  width: 100vw;
  padding-left: 1rem;
  padding-right: 1rem; }
  .navbar-expand-md--rojoT .navbar__logoT {
    text-decoration: none;
    text-align: left;
    color: white;
    font-weight: 800;
    font-size: 2em;
    padding: 0;
    flex-grow: 1;
    animation: logoAnimado 1 3s 1s; }
  .navbar-expand-md--rojoT .navbar__logoT--tienda {
    margin: 0 0.5em; }
    .navbar-expand-md--rojoT .navbar__logoT--tienda i {
      margin: 0;
      padding: 0; }
  .navbar-expand-md--rojoT .navbar__link {
    font-size: 1.2em;
    font-weight: 200;
    color: white !important; }
    .navbar-expand-md--rojoT .navbar__link:hover {
      font-weight: 400; }
  .navbar-expand-md--rojoT .navbar__busqueda {
    max-width: 300px;
    margin-right: 1em; }

.conMargen {
  margin: 0 50px; }
  .conMargen h2 {
    margin-top: 2em; }

.navBread {
  padding-top: 100px;
  margin: 0 50px; }

.interesesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em; }
  .interesesContainer .interesesContainer__card {
    width: 280px;
    background-color: var(--bs-primary);
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    border-radius: 0.5em;
    overflow: hidden;
    margin-right: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    margin-bottom: 2em; }
    .interesesContainer .interesesContainer__card img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      object-position: 0 0; }
    .interesesContainer .interesesContainer__card .interesesContainer__text {
      margin: 0.5em 1em; }
      .interesesContainer .interesesContainer__card .interesesContainer__text .interesesContainer__title {
        font-size: 1em;
        font-weight: 800; }
      .interesesContainer .interesesContainer__card .interesesContainer__text p {
        margin: 0; }
      .interesesContainer .interesesContainer__card .interesesContainer__text .viejoPrecio {
        text-decoration: line-through;
        color: gray; }

.grilla {
  width: 98vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0.3fr 1fr 1fr auto auto auto;
  grid-row-gap: 3em;
  grid-column-gap: 1em;
  justify-items: stretch;
  grid-template-areas: "header" "biografias" "noticiaG" "noticiasC" "spotify" "footer"; }

header {
  width: 100vw;
  position: relative;
  overflow: hidden;
  grid-area: header; }
  header .header__title {
    position: absolute;
    left: 0.4em;
    bottom: 0em;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 5em;
    z-index: 1; }
    header .header__title p {
      display: inline-block; }
    header .header__title .p1 {
      color: white; }
    header .header__title .p2 {
      color: rgba(255, 255, 255, 0.5); }
    header .header__title .p3 {
      color: rgba(255, 255, 255, 0.333333); }
    header .header__title .p4 {
      color: rgba(255, 255, 255, 0.25); }
    header .header__title .p5 {
      color: rgba(255, 255, 255, 0.2); }
    header .header__title .p6 {
      color: rgba(255, 255, 255, 0.166667); }
    header .header__title .p7 {
      color: rgba(255, 255, 255, 0.142857); }
    header .header__title .p8 {
      color: rgba(255, 255, 255, 0.125); }
    header .header__title .p9 {
      color: rgba(255, 255, 255, 0.111111); }
  header .header__video {
    position: absolute;
    left: -5em;
    height: 100%;
    align-content: center;
    min-height: 100px; }

.seccionesMain {
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: white solid 1px;
  margin-top: 1em; }

.subtitulo {
  padding: 0.5em 2em; }

#containerBiografias {
  grid-area: biografias; }
  #containerBiografias .containerBiografias__containerCarousel {
    width: 100vw;
    display: flex;
    justify-content: center; }
    #containerBiografias .containerBiografias__containerCarousel .containerBiografias__containerItem {
      width: 100%;
      height: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      position: relative; }
      #containerBiografias .containerBiografias__containerCarousel .containerBiografias__containerItem .containerBiografias__imgBio {
        width: 100%;
        height: 100%; }
        #containerBiografias .containerBiografias__containerCarousel .containerBiografias__containerItem .containerBiografias__imgBio:hover {
          opacity: 0.4;
          border: outset 2px white;
          cursor: pointer; }
        #containerBiografias .containerBiografias__containerCarousel .containerBiografias__containerItem .containerBiografias__imgBio:active {
          animation: flipOutY 1 1s; }
      #containerBiografias .containerBiografias__containerCarousel .containerBiografias__containerItem .containerBiografias__texto {
        position: absolute;
        transform: rotate(-90deg);
        text-align: right;
        right: -1.8em;
        bottom: 2.5em;
        font-weight: 400;
        font-size: 1.5em;
        background-color: #1c1c1cb0; }
  #containerBiografias .containerBiografias__icono {
    font-size: 30pt;
    opacity: 0.8;
    height: 100%;
    width: 40pt;
    margin-left: 25pt;
    margin-right: 25pt; }

.icono {
  font-size: 30pt;
  color: white; }

.containerNoticiaG {
  font-size: 1em;
  padding: 0 2em;
  grid-area: noticiaG; }
  .containerNoticiaG a {
    cursor: pointer;
    text-decoration: none;
    color: white; }
    .containerNoticiaG a:hover {
      color: rgba(255, 255, 255, 0.65); }
    .containerNoticiaG a img {
      width: 100%;
      padding-bottom: 1em; }

.containerNoticiaC {
  height: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 0.8em;
  grid-area: noticiasC; }
  .containerNoticiaC .containerNoticiaC__item {
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    color: white; }
    .containerNoticiaC .containerNoticiaC__item:hover {
      color: rgba(255, 255, 255, 0.65); }
    .containerNoticiaC .containerNoticiaC__item img {
      width: 100%; }

.containerSpotify {
  margin-top: 2em;
  padding: 0 2em;
  grid-area: spotify; }

footer {
  background-color: var(--bs-primary);
  padding: 1em 2em;
  font-size: 0.8em;
  grid-area: footer; }
  footer .footer__containerRedes {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 5em; }
    footer .footer__containerRedes .footer__icono {
      font-size: 30pt;
      margin: 0 0.15em; }
    footer .footer__containerRedes .footer__iconoFacebook {
      color: #4267B2; }
    footer .footer__containerRedes .footer__iconoInstagram {
      color: #8935c1; }
    footer .footer__containerRedes .footer__iconoSpotify {
      color: #1DB954; }
    footer .footer__containerRedes .footer__iconoTwitter {
      color: #1DA1F2; }

.modal__header--bio {
  display: flex;
  flex-direction: column; }
  .modal__header--bio .modal__x {
    display: flex;
    align-items: flex-end;
    width: 100%; }
  .modal__header--bio .modal__img {
    width: 100%;
    display: block;
    margin-top: 0.5em; }
    .modal__header--bio .modal__img img {
      width: 100%;
      border-radius: 0.5em; }

.modal__texto {
  color: var(--bs-secondary); }

@media only screen and (min-width: 768px) {
  .grilla {
    grid-template-columns: 65% 35%;
    grid-template-rows: 0.6fr 1fr auto auto auto;
    grid-template-areas: "header header" "biografias biografias" "noticiaG noticiasC" "spotify spotify" "footer footer"; }
  header h1 {
    bottom: 0.5em; }
  .containerBiografias__containerCarousel .containerBiografias__containerItem .containerBiografias__texto {
    font-weight: 600 !important;
    font-size: 2em;
    z-index: -1; }
  .containerNoticiaG {
    padding: 0 0 0 2em; }
  .containerNoticiaC {
    padding: 0 2em 0 0; }
  .footer__iconoFacebook {
    color: white !important; }
  .footer__iconoInstagram {
    color: white !important; }
  .footer__iconoSpotify {
    color: white !important; }
  .footer__iconoTwitter {
    color: white !important; }
  .footer__iconoFacebook:hover {
    color: #4267B2 !important; }
  .footer__iconoInstagram:hover {
    color: #8935c1 !important; }
  .footer__iconoSpotify:hover {
    color: #1DB954 !important; }
  .footer__iconoTwitter:hover {
    color: #1DA1F2 !important; } }

@media only screen and (min-width: 1350px) {
  .conMargen {
    margin: 0 250px; }
  .navbar__logoT {
    text-align: left;
    margin-left: 3em; }
  .navbar__link {
    margin-right: 1em; } }

@media only screen and (min-width: 768px) {
  .navbar__logoT--tienda {
    margin: 0 3em; }
  .navbar__busqueda {
    width: 25vw;
    margin-right: 1em; }
  .interesesContainer {
    flex-direction: row; } }

@keyframes logoAnimado {
  0% {
    transform: scale(1); }
  33% {
    transform: scale(0.85); }
  66% {
    transform: scale(1.15); } }
